pytest
pre-commit
PyJWT
isort
bcrypt
Faker
setuptools
pycrypto
requests
pytest-dependency
pytest-html
pathspec
simple-settings
allure-pytest
pytest-rerunfailures
SQLAlchemy
requests
GeoAlchemy2
Jinja2
jinjasql
MarkupSafe
selenium
